.App {
  text-align: center;
  .sections {
    scroll-snap-type: y mandatory;
    
    > * {
      scroll-snap-align: start;
    }
    .section:last-child {
      #downArrow{
        display:none;
      }
    }
    
  }
  
  
}


